body {
  background-color: #999CA9;
}
header,
footer {
  background-color: #22242F !important;
}
textarea {
  resize: none !important;
  border: none !important;
}
.messagelist {
  padding: 0px 5px;
  height: 400px;
  overflow-y: scroll;
}
.messageform {
  border-top: 1px solid #DDD;
}
.text {
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  margin-bottom: 5px;
  word-break: break-all;
  white-space: pre-line;
}
.primary .text {
  background-color: #ffffff;
  border: 1px solid #999CA9;
}
.secondary .text {
  background-color: #999CA9;
  border: 1px solid #999CA9;
}
aside {
  border-left: 1px solid #DDD;
}
.emoji-wrapper button {
  position: relative;
}
.popover {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0%;
  bottom: 18%;
  margin-top: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  min-width: 200px;
  max-height: 150px;
  overflow-y: scroll;
}
.emoji-wrapper:hover .popover {
  z-index: 10;
  opacity: 1;
  visibility: visible;
}
/* 
header.columns.is-mobile {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

footer.columns {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
} */